## What is EDA?

EDA stands for Exploratory Data Analysis
EDA is actually an approach to understand the dataset on which we can draw or take descission and understand the problem well.
- E -> Exploring : Exploring The datasets ,problems statements ,pattern found in datasets, draw hypothisis, suitablity of models , statistical anaylsis etc..
- D -> DATA : Data is a valid fact used for the purpose of the solving the problems , Say about the numerical story or real story of the problem we are solving.
- A -> Analysis : Applying Ayanltical skills , undertsnading the data, datasets , problems,approach of solution, extension of the problems.
***
The National Institute of Standards and Technology (NIST) describes EDA as an approach to data analysis, not a model, that uses these techniques:

>1. Maximize insights into a dataset.
>2. Uncover underlying structures.
>3. Extract important variables.
>4. Detect outliers and anomalies.
>5. Test underlying assumptions.
>6. Develop parsimonious models.
>7. Determine optimal factor settings.

NIST explains that EDA is an approach to data analysis that “postpones the usual assumptions about what kind of model the data \[follows\]” and allows the data to reveal its underlying structure and model. 
***
EDA is typically used for these four goals:

>- Exploring a single variable and looking at trends over time.
>- Checking data for errors.
>- Checking assumptions.
>- Looking at relationships between variables.

[Source: Mastersindatascience](https://www.mastersindatascience.org/learning/what-is-exploratory-data-analysis/)

---
Main Reason For EDA
> detection of mistakes
> checking of assumptions
> preliminary selection of appropriate models
> determining relationships among the explanatory variables, and
> assessing the direction and rough size of relationships between explanatory
and outcome variables.

>__` Learning happens when you observe a phenomena and recognize a pattern. You try to understand this pattern by finding out if there is any relationship between the entities involved in that phenomena `__

## DATA Point:

DATA
: <strong>Data are individual facts, statistics, or items of information, often numeric.</strong>
In a more technical sense, data are a set of values of qualitative or quantitative variables about one or more persons or objects,while a datum (singular of data) is a single value of a single variable.

In simple words data is a valid fact record or information given to us or stored.
[Source : wikipedia](https://en.wikipedia.org/wiki/Data)
***

> __A data point is a discrete unit of information.
In a general sense, any single fact is a data point. In a statistical or analytical context, a data point is usually derived from a measurement or research and can be represented numerically and/or graphically. The term data point is roughly equivalent to datum, the singular form of data .__
[Source : techtarget](https://www.techtarget.com/whatis/definition/data-point)

In data analysis and statistics, a data point is a piece of information that describes one unit of observation, at one point in time, at the data collection level. It most commonly appears as one cell in a data table.
[Source:analystanswers ](https://analystanswers.com/data-point-definition-types-examples/#:~:text=In%20data%20analysis%20and%20statistics%2C%20a%20data%20point,data%20set%2C%E2%80%9D%20but%20this%20is%20not%20entirely%20accurate.)

>Data points, also known as data items, are the atomic state of data.

A data point or observation is a set of one or more measurements on a single member of the unit of observation.
[Source : Wikipedia](https://en.wikipedia.org/wiki/Unit_of_observation#Data_point)
***
## Vector:
Vector :A vector is a mathematical object that encodes a length and direction. 
Vectors are commonly used in machine learning as they lend a convenient way to organize data.  Often one of the very first steps in making a machine learning model is vectorizing the data.

### Vectors vs. Scalars

A vector is a data structure with at least two components, as opposed to a scalar, which has just one.<br>
 _For example, a vector can represent velocity, an idea that combines speed and direction: wind velocity = (50mph, 35 degrees North East)._<br>
A scalar, on the other hand, can represent something with one value _like temperature or height: 50 degrees Celsius, 180 centimeters._<br>
Therefore, we can represent two-dimensional vectors as arrows on an x-y graph, with the coordinates x and y each representing one of the vector’s values.
[Source : deepai](https://deepai.org/machine-learning-glossary-and-terms/vector)

## Observation

A statement based on something one has seen, heard, or noticed.

Observation is the active acquisition of information from a primary source. In living beings, observation employs the senses.
[Source : Wikipedia](https://en.wikipedia.org/wiki/Observation)

>__` Every learning, fundamentally, is a model expressing a pattern in a set of observations. If there is no conceivable pattern, there will be no learning. `__<br><br>
>__`No model or learning reflects “true” or “absolute” reality. Every model or learning is an approximation of observed reality.`__

#### WHY DATA as vector?

`“ We all are vectors. Many of us are still in search of direction ”` :joy:


DATA as vector because vector deals with both magnitude and direction and not just limited to 3D axis 

[Source : towardsdatascience ](https://towardsdatascience.com/why-data-is-represented-as-a-vector-in-data-science-problems-a195e0b17e99)

## Future Info
1. [EDA Lesson 1 (b)](https://online.stat.psu.edu/stat508/book/export/html/632)

## Data-set
Dataset :A collection of related sets of information that is composed of separate elements but can be manipulated as a unit by a computer.
A data set (or dataset) is a collection of data

A data set is a collection of related, discrete items of related data that may be accessed individually or in combination or managed as a whole entity.

[Source :techtarget ](https://www.techtarget.com/whatis/definition/data-set)<br>
[Source :Wikipedia](https://en.wikipedia.org/wiki/Data_set)


## Feature/Variable/Input-variable/Dependent-Variable

The variables which depend on other variables or factors.

Dependent variables are variables whose changes depend solely on another variable—usually the independent variable. That is, the value of the dependent variable will only change if the independent variable changes

The dependent variable (DV) is what you want to use the model to explain or predict. The values of this variable depend on other variables. It is the outcome that you’re studying. It’s also known as the response variable, outcome variable, and left-hand variable

[Source :formpl](https://www.formpl.us/blog/dependent-independent-variables)

## Label/Indepdendent-variable/Output-varible/Class/Class-label/Response label

The variable that are not affected by the other variables

Independent variables are variables whose variations do not depend on another variable. They are controlled inputs, whose variation depends on the researcher or individual working with the variables.



[Source : wikipedia](https://en.wikipedia.org/wiki/Dependent_and_independent_variables)

How to Identify Independent and Dependent Variables

[Source : statisticsbyjim](https://statisticsbyjim.com/regression/independent-dependent-variables/)

[Tutorial : khanacademy](https://www.khanacademy.org/math/cc-sixth-grade-math/cc-6th-equations-and-inequalities/cc-6th-dependent-independent/v/dependent-and-independent-variables-exercise-example-1)

[Source : scribbr](https://www.scribbr.com/methodology/independent-and-dependent-variables/)

## What is a 1-D vector: Scalar

A scalar with a unit is a 1-dimensional (axial) vector; changing the basis corresponds to changing the unit. A number (without a unit) is not a 1-dimensional vector in the terminology used by physicists. However, it is a 1-dimensional vector in the terminology used in linear algebra.

A scalar is defined to be invariant under transformations of the coordinate system. Thus, a vector in one dimension is not a scalar.

Time is a "parameter", or a component of a 4-vector in special relativity. In classical mechanics, it is essentially a one-dimensional vector.
***

Optional 

---
A vector in a 1D space is not a scalar. But if we choose a basis (which in this case consists only in one vector, say E), any other vector is of the form vE, with v a scalar. So we can identify the 1D vector space with R, but the identification depends on the choice of E.

In the case of the time, things are similar. For the Minkowski spacetime, consider an orthonormal basis, consisting in three spacelike vectors and one timelike vector. This basis allows us to express any event in terms of three space coordinates, and one time coordinate. The time coordinate is a scalar, and can indeed be positive or negative. For curved spacetime, the things get more difficult. The spacetime is no longer a vector space. We use coordinates, which are no longer obtained from vector frames. Sometimes they can't even be global, so we have to take them local (limited to a subset of the spacetime).

#  1. Iris Flower dataset

In [1]:
import mysql.connector
import pandas as pd

In [18]:
import mysql.connector as sql
db_connection = sql.connect(host='localhost', port= '3306', database='sakila', user='root', password='rajan@123', auth_plugin = 'mysql_native_password')
db_cursor = db_connection.cursor()
db_cursor.execute('SELECT * FROM actor')
table_rows = db_cursor.fetchall()
for i in table_rows:
    print (i)

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))
(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33))
(6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(7, 'GRACE', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33))
(8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 4, 34, 33))
(10, 'CHRISTIAN', 'GABLE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(11, 'ZERO', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(12, 'KARL', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(13, 'UMA', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33))
(14, 'VIVIEN', 'BERGEN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(15, 'CUBA', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(16, 'FRED', 'COSTNER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(17, 'HELEN', 'VOIGHT', datetime.datetime(2006, 2, 15, 4, 34, 33))
(18, 'DAN', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(19, 'BOB', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33))
(20, 'LUCILLE', 'TRACY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(21, 'KIRSTEN', 'PALTROW', datetime.datetime(2006, 2, 15, 4, 34, 33))
(22, 'ELVIS', 'MARX', datetime.datetime(2006, 2, 15, 4, 34, 33))
(23, 'SANDRA', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(24, 'CAMERON', 'STREEP', datetime.datetime(2006, 2, 15, 4, 34, 33))
(25, 'KEVIN', 'BLOOM', datetime.datetime(2006, 2, 15, 4, 34, 33))
(26, 'RIP', 'CRAWFORD', datetime.datetime(2006, 2, 15, 4, 34, 33))
(27, 'JULIA', 'MCQUEEN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(28, 'WOODY', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(29, 'ALEC', 'WAYNE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(30, 'SANDRA', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33))
(31, 'SISSY', 'SOBIESKI', datetime.datetime(2006, 2, 15, 4, 34, 33))
(32, 'TIM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(33, 'MILLA', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33))
(34, 'AUDREY', 'OLIVIER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(35, 'JUDY', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(36, 'BURT', 'DUKAKIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(37, 'VAL', 'BOLGER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(38, 'TOM', 'MCKELLEN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(39, 'GOLDIE', 'BRODY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(40, 'JOHNNY', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(41, 'JODIE', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33))
(42, 'TOM', 'MIRANDA', datetime.datetime(2006, 2, 15, 4, 34, 33))
(43, 'KIRK', 'JOVOVICH', datetime.datetime(2006, 2, 15, 4, 34, 33))
(44, 'NICK', 'STALLONE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(45, 'REESE', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(46, 'PARKER', 'GOLDBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))
(47, 'JULIA', 'BARRYMORE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(48, 'FRANCES', 'DAY-LEWIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(49, 'ANNE', 'CRONYN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(50, 'NATALIE', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(51, 'GARY', 'PHOENIX', datetime.datetime(2006, 2, 15, 4, 34, 33))
(52, 'CARMEN', 'HUNT', datetime.datetime(2006, 2, 15, 4, 34, 33))
(53, 'MENA', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(54, 'PENELOPE', 'PINKETT', datetime.datetime(2006, 2, 15, 4, 34, 33))
(55, 'FAY', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(56, 'DAN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(57, 'JUDE', 'CRUISE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(58, 'CHRISTIAN', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33))
(59, 'DUSTIN', 'TAUTOU', datetime.datetime(2006, 2, 15, 4, 34, 33))
(60, 'HENRY', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(61, 'CHRISTIAN', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(62, 'JAYNE', 'NEESON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(63, 'CAMERON', 'WRAY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(64, 'RAY', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(65, 'ANGELA', 'HUDSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(66, 'MARY', 'TANDY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(67, 'JESSICA', 'BAILEY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(68, 'RIP', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33))
(69, 'KENNETH', 'PALTROW', datetime.datetime(2006, 2, 15, 4, 34, 33))
(70, 'MICHELLE', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(71, 'ADAM', 'GRANT', datetime.datetime(2006, 2, 15, 4, 34, 33))
(72, 'SEAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(73, 'GARY', 'PENN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(74, 'MILLA', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33))
(75, 'BURT', 'POSEY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(76, 'ANGELINA', 'ASTAIRE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(77, 'CARY', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(78, 'GROUCHO', 'SINATRA', datetime.datetime(2006, 2, 15, 4, 34, 33))
(79, 'MAE', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(80, 'RALPH', 'CRUZ', datetime.datetime(2006, 2, 15, 4, 34, 33))
(81, 'SCARLETT', 'DAMON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(82, 'WOODY', 'JOLIE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(83, 'BEN', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(84, 'JAMES', 'PITT', datetime.datetime(2006, 2, 15, 4, 34, 33))
(85, 'MINNIE', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(86, 'GREG', 'CHAPLIN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(87, 'SPENCER', 'PECK', datetime.datetime(2006, 2, 15, 4, 34, 33))
(88, 'KENNETH', 'PESCI', datetime.datetime(2006, 2, 15, 4, 34, 33))
(89, 'CHARLIZE', 'DENCH', datetime.datetime(2006, 2, 15, 4, 34, 33))
(90, 'SEAN', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(91, 'CHRISTOPHER', 'BERRY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(92, 'KIRSTEN', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33))
(93, 'ELLEN', 'PRESLEY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(94, 'KENNETH', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(95, 'DARYL', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))
(96, 'GENE', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(97, 'MEG', 'HAWKE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(98, 'CHRIS', 'BRIDGES', datetime.datetime(2006, 2, 15, 4, 34, 33))
(99, 'JIM', 'MOSTEL', datetime.datetime(2006, 2, 15, 4, 34, 33))
(100, 'SPENCER', 'DEPP', datetime.datetime(2006, 2, 15, 4, 34, 33))
(101, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(102, 'WALTER', 'TORN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(103, 'MATTHEW', 'LEIGH', datetime.datetime(2006, 2, 15, 4, 34, 33))
(104, 'PENELOPE', 'CRONYN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(105, 'SIDNEY', 'CROWE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(106, 'GROUCHO', 'DUNST', datetime.datetime(2006, 2, 15, 4, 34, 33))
(107, 'GINA', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33))
(108, 'WARREN', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(109, 'SYLVESTER', 'DERN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(110, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(111, 'CAMERON', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(112, 'RUSSELL', 'BACALL', datetime.datetime(2006, 2, 15, 4, 34, 33))
(113, 'MORGAN', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(114, 'MORGAN', 'MCDORMAND', datetime.datetime(2006, 2, 15, 4, 34, 33))
(115, 'HARRISON', 'BALE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(116, 'DAN', 'STREEP', datetime.datetime(2006, 2, 15, 4, 34, 33))
(117, 'RENEE', 'TRACY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(118, 'CUBA', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(119, 'WARREN', 'JACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(120, 'PENELOPE', 'MONROE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(121, 'LIZA', 'BERGMAN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(122, 'SALMA', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(123, 'JULIANNE', 'DENCH', datetime.datetime(2006, 2, 15, 4, 34, 33))
(124, 'SCARLETT', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33))
(125, 'ALBERT', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(126, 'FRANCES', 'TOMEI', datetime.datetime(2006, 2, 15, 4, 34, 33))
(127, 'KEVIN', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33))
(128, 'CATE', 'MCQUEEN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(129, 'DARYL', 'CRAWFORD', datetime.datetime(2006, 2, 15, 4, 34, 33))
(130, 'GRETA', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33))
(131, 'JANE', 'JACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(132, 'ADAM', 'HOPPER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(133, 'RICHARD', 'PENN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(134, 'GENE', 'HOPKINS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(135, 'RITA', 'REYNOLDS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(136, 'ED', 'MANSFIELD', datetime.datetime(2006, 2, 15, 4, 34, 33))
(137, 'MORGAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(138, 'LUCILLE', 'DEE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(139, 'EWAN', 'GOODING', datetime.datetime(2006, 2, 15, 4, 34, 33))
(140, 'WHOOPI', 'HURT', datetime.datetime(2006, 2, 15, 4, 34, 33))
(141, 'CATE', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(142, 'JADA', 'RYDER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(143, 'RIVER', 'DEAN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(144, 'ANGELA', 'WITHERSPOON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(145, 'KIM', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(146, 'ALBERT', 'JOHANSSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(147, 'FAY', 'WINSLET', datetime.datetime(2006, 2, 15, 4, 34, 33))
(148, 'EMILY', 'DEE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(149, 'RUSSELL', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(150, 'JAYNE', 'NOLTE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(151, 'GEOFFREY', 'HESTON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(152, 'BEN', 'HARRIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(153, 'MINNIE', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(154, 'MERYL', 'GIBSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(155, 'IAN', 'TANDY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(156, 'FAY', 'WOOD', datetime.datetime(2006, 2, 15, 4, 34, 33))
(157, 'GRETA', 'MALDEN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(158, 'VIVIEN', 'BASINGER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(159, 'LAURA', 'BRODY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(160, 'CHRIS', 'DEPP', datetime.datetime(2006, 2, 15, 4, 34, 33))
(161, 'HARVEY', 'HOPE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(162, 'OPRAH', 'KILMER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(163, 'CHRISTOPHER', 'WEST', datetime.datetime(2006, 2, 15, 4, 34, 33))
(164, 'HUMPHREY', 'WILLIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(165, 'AL', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33))
(166, 'NICK', 'DEGENERES', datetime.datetime(2006, 2, 15, 4, 34, 33))
(167, 'LAURENCE', 'BULLOCK', datetime.datetime(2006, 2, 15, 4, 34, 33))
(168, 'WILL', 'WILSON', datetime.datetime(2006, 2, 15, 4, 34, 33))
(169, 'KENNETH', 'HOFFMAN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(170, 'MENA', 'HOPPER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(171, 'OLYMPIA', 'PFEIFFER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(172, 'GROUCHO', 'WILLIAMS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(173, 'ALAN', 'DREYFUSS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(174, 'MICHAEL', 'BENING', datetime.datetime(2006, 2, 15, 4, 34, 33))
(175, 'WILLIAM', 'HACKMAN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(176, 'JON', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(177, 'GENE', 'MCKELLEN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(178, 'LISA', 'MONROE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(179, 'ED', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(180, 'JEFF', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(181, 'MATTHEW', 'CARREY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(182, 'DEBBIE', 'AKROYD', datetime.datetime(2006, 2, 15, 4, 34, 33))
(183, 'RUSSELL', 'CLOSE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(184, 'HUMPHREY', 'GARLAND', datetime.datetime(2006, 2, 15, 4, 34, 33))
(185, 'MICHAEL', 'BOLGER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(186, 'JULIA', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 4, 34, 33))
(187, 'RENEE', 'BALL', datetime.datetime(2006, 2, 15, 4, 34, 33))
(188, 'ROCK', 'DUKAKIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(189, 'CUBA', 'BIRCH', datetime.datetime(2006, 2, 15, 4, 34, 33))
(190, 'AUDREY', 'BAILEY', datetime.datetime(2006, 2, 15, 4, 34, 33))
(191, 'GREGORY', 'GOODING', datetime.datetime(2006, 2, 15, 4, 34, 33))
(192, 'JOHN', 'SUVARI', datetime.datetime(2006, 2, 15, 4, 34, 33))
(193, 'BURT', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(194, 'MERYL', 'ALLEN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(195, 'JAYNE', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(196, 'BELA', 'WALKEN', datetime.datetime(2006, 2, 15, 4, 34, 33))
(197, 'REESE', 'WEST', datetime.datetime(2006, 2, 15, 4, 34, 33))
(198, 'MARY', 'KEITEL', datetime.datetime(2006, 2, 15, 4, 34, 33))
(199, 'JULIA', 'FAWCETT', datetime.datetime(2006, 2, 15, 4, 34, 33))
(200, 'THORA', 'TEMPLE', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [21]:

db_cursor.close()

True

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

AttributeError: 'MySQLCursor' object has no attribute 'cursor'

In [23]:
!pip install cython

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: cython in c:\programdata\anaconda3\lib\site-packages (0.29.28)

In [7]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [24]:
import sqlalchemy
sqlalchemy.__version__

'1.4.32'

In [22]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'SQL Server Native Client 11.0', 'ODBC Driver 17 for SQL Server', 'BMF SQLite3 Driver', 'MySQL ODBC 8.0 ANSI Driver', 'MySQL ODBC 8.0 Unicode Driver']

In [ ]:
ALTER USER 'rajan1'@'localhost' IDENTIFIED BY 'rajan@123' PASSWORD EXPIRE NEVER;
ALTER USER 'rajan1'@'localhost' IDENTIFIED WITH mysql_native_password BY 'rajan@123'